<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
		<style>
			input {
				height: 60px;
				width: 100px;
			}

			.active {
				border: 2px solid red;
			}
			#imgrrrr{
				height: auto;
				margin: 0 auto;
			}

			#vio {
				text-align: center;
				font-size: 30px;
			}
		</style>
	</head>
	<body>
		<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
		<!-- <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script> -->
		<div id="app">
			{{ message }}
			<hr />

			<!-- v-text -->
			<h2 v-text="message">“会被替换”</h2>
			<h2 v-text="message+'----拼接'">“会被替换”</h2>
			<h2>前缀：{{ message }}</h2> <!-- 差值表达式 -->
			<h2>前缀：{{ message + "----拼接" }}---外部</h2> <!-- 差值表达式 -->
			<hr />

			<!-- v-html -->
			<h2 v-text="turl"></h2> <!-- 不会解析 -->
			<h2 v-html="turl"></h2> <!-- 会解析指令 -->
			<hr />

			<!-- v-on 绑定事件 -->
			<input type="button" value="单击" v-on:click="dolt" />
			<input type="button" value="移入" v-on:monseenter="dolt" />
			<input type="button" value="双击" v-on:dblclick="dolt" />
			<input type="button" value="双击" @dblclick="dolt" /> <!-- 简写 -->
			<h2 @click="changevalue">{{ food }}</h2> <!-- 简写 -->
			<hr />

			<!-- v-show -->
			<img src="./public/favicon.ico" v-show="true">
			<hr>
			<input type="button" value="切换显示" @click="changeisshow" /> {{isShow}}
			<img src="./public/favicon.ico" v-show="isShow">
			<p v-if="isShow">xxxxx--if</p>
			<p v-show="isShow">xxxxx--show</p>
			<hr>
			<input type="button" value="增加" @click="changeage" /> {{age}}
			<img src="./public/favicon.ico" v-show="age>=18">
			<hr>


			<!-- v-bind -->
			<img v-bind:src="imgsrc" style="height: 100px;" />
			<img :src="imgsrc" style="height: 100px;" /> <!-- 简写 -->
			<hr>
			<img :src="imgsrc1" v-bind:title="imgtitle + '---title---'">
			<img v-bind:class="isActive?'active':''"> <!-- 三元表达式 -->
			<img v-bind:class="{active:isActive}"> <!-- 对象的写法 -->
			<hr>
			<input type="button" value="显示" @click="changeActive" />{{isActive}}
			<img id="bindtest" :src="imgsrc1" style="height: 100px;" :class="isActive?'active':''"
				@click="changeActive" />
			<img id="bindtest" :src="imgsrc1" style="height: 100px;" :class="{active:isActive}" @click="changeActive" />
			<!-- active 取决于 isActive 的值 -->
			<hr>

			<!-- 图片轮播 -->
			<div id="imgrrrr">
				<input value="<" type="button" id="vio" @click="prev" />
				<img :src="imgArr[imgindex]" style="height: 200px; width: 340px;" />
				<input value=">" type="button" id="vio" @click="next" />
			</div>

			<hr>
			<div id="imgrrrr">
				<input value="<" v-if="imgindex != 0" type="button" id="vio" @click="prev" />
				<img :src="imgArr[imgindex]" style="height: 200px; width: 340px;" />
				<input value=">" v-show="imgindex < imgArr.length - 1" type="button" id="vio" @click="next" />
			</div>


		</div>

		<hr />

		<script>
			var app = new Vue({
				el: "#app", // 挂载点
				data: { // 数据对象
					message: "hello world!",
					school: {
						name: "xxx",
						mobile: "111-222"
					},
					food: "西西",
					arr: ["222", "333", "444"],
					turl: "<a href='#'>你好</a>",
					isShow: true, // 第二张显示
					age: 16, // 第三张不显示
					imgsrc: "./src/assets/1111.gif",
					imgsrc1: "./src/assets/border.png",
					imgtitle: "===title===",
					isActive: false,
					imgArr: [
						"./src/assets/1.jpg",
						"./src/assets/2.jpg",
						"./src/assets/3.jpg",
						"./src/assets/4.jpg",
						"./src/assets/5.jpg",
						"./src/assets/6.jpg",
						"./src/assets/7.jpg",
					],
					imgindex: 0,


				},
				methods: {
					dolt: function() { // 函数也可以放到 data 里面
						alert("你好！")
					},
					changevalue: function() {
						alert(this.food); // this 访问 data 数据
						this.food += "!!"
					},
					changeisshow: function() {
						this.isShow = !this.isShow;
					},
					changeage: function() {
						this.age++;
					},
					changeActive: function() {
						this.isActive = !this.isActive;
					},
					// 上一张
					prev: function() {
						if (this.imgindex > 0)
							this.imgindex--;
						else
							alert("上一张没有了");
					},
					// 下一张
					next: function() {
						if (this.imgindex < this.imgArr.length - 1)
							this.imgindex++;
						else
							alert((this.imgArr.length - 1) + "张，下一张没有了");
					}
				}
			})
		</script>
	</body>
</html>
