/* CSS Document */
*{
padding:0;
margin:0;
}
body{
   background:#F6F6F6;
}
/*顶部广告*/
#topad{
   width:100%;
   height:80px;
   background:#FCB4FE;
}
#topad a{
   width:1190px;
   height:80px;
   display:block;
   margin:0 auto;
   background:url(jdtop.jpg) no-repeat;
}
/*顶部广告结束*/

/*顶部灰色区域*/
 #top{
   width:100%;
   height:30px;
   background:#e3e4e5;
   border-bottom: 1px solid #ddd;
}
#top .center{
   width:1190px;
   height:30px;
   background:pink;
   margin:0 auto;
}
 /*顶部灰色区域end---*/
 /*搜索区域*/
 #search{
     width:1190px;
     height:140px;
     background:#e3e4e5;
     margin:0 auto;
 }
 /*搜索区域end---*/
 /*轮播图区域*/
 #fh{
     width:1190px;
     height:480px;
     border:2px solid red;
     margin:0 auto;
     margin-bottom:500px;   
 }
 #fh .col1{
    width:190px;
    height:480px;
    background:#6c6669;
    float:left;
 }
 #fh .col2{
    width:590px;
    height:480px;
   // background:#6c6669;
    float:left;
    margin-left:10px;
 }
 #fh .col3{
    width:190px;
    height:480px;
   // background:#6c6669;
    float:left;
    margin-left:10px;
 }
 #fh .col3 .rec_item{
    //display: block;
    width: 190px;
    height: 150px;
  //  float:left;
    margin-bottom:10px;
 }
 #fh .col3 img{
    //display: block;
    width: 190px;
    height: 150px;
    //float:left;
 }
 #fh .col4{
    width:190px;
    height:480px;
   // background:#6c6669;
    float:left;
    margin-left:10px;
 }
 img {
    border: 0;
    vertical-align: middle;
}
 /*轮播图区域end---*/