<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>element-ui radio</title>
		<!-- 引入样式 -->
		<link rel="stylesheet" href="./element-ui-2.15.10/index.css" />
		<script src="./js/vue.min.js"></script>
		<script src="./js/http-vue-loader.js"></script>
		<!-- 引入组件库 -->
		<script src="./element-ui-2.15.10/index.js"></script>
	</head>
	<body>
		<div id="app">
			<template>
				<!-- <el-radio-group disabled v-model="radio"> -->
				<el-radio-group v-model="radio">
					<!-- <el-radio :label="3" disabled >备选项</el-radio> -->
					<el-radio :label="3">备选项</el-radio>
					<el-radio :label="6">备选项</el-radio>
					<el-radio :label="9">备选项</el-radio>
				</el-radio-group>
			</template>
			
		</div>
	</body>
	<script type="text/javascript">
		Vue.use(httpVueLoader);
		var vm = new Vue({
			el: "#app",
			data() {
				return {
					radio: 3
				};
			}
		});
	</script>
</html>
