.box{
    width: 500px;
    height: fit-content;
}

.info{
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    background-color: rgb(220, 220, 220);
    display: flex;
}

.info > div{
    min-width: 150px;
    margin:  0 10px;
    padding: 4px;
}
