<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title></title>
	</head>
	<body>
		<div id="app">
			<dl>
				<dt>商品列表</dt>
				<dd v-for="item in products">{{item.name}}</dd>
			</dl>

			<dl>
				<dt>订单列表</dt>
				<dd v-for="item in orders">{{item.name}}</dd>
			</dl>
		</div>
		<script src="https://unpkg.com/vue@2.5.17/dist/vue.js"></script>
		<script src="https://unpkg.com/vuex@3.0.1/dist/vuex.js"></script>
		<script>
			Vue.use(Vuex);
			let store = new Vuex.Store({
				modules: {
					product: {
						namespaced: true, // 添加命名空间
						state: {
							list: [{
									name: '苹果电脑',
									id: 0
								},
								{
									name: 'IphoneX',
									id: 1
								}
							]
						},
						getters: {
							list(state) {
								return state.list;
							}
						},
						actions: {
							queryList() {
								console.log('product queryList');
							}
						},
						mutations: {
							setList() {
								console.log('product setList')
							}
						}
					},
					order: {
						namespaced: true, // 添加命名空间
						state: {
							list: [{
									name: '订单-苹果电脑',
									id: 0
								},
								{
									name: '订单-IphoneX',
									id: 1
								}
							]
						},
						getters: {
							list: (state) => state.list
						},
						actions: {
							queryList() {
								console.log('order queryList');
							}
						},
						mutations: {
							setList() {
								console.log('order setList')
							}
						}
					}
				}
			});

			new Vue({
				el: '#app',
				store,
				computed: {
					// store 挂载了才能使用辅助函数

					// // 把 product 模块中的 list getter 映射为 products
					// ...Vuex.mapGetters('product', {
					// 	products: 'list'
					// }),
					// // 把 order 模块中的 list getter 映射为 orders
					// ...Vuex.mapGetters('order', {
					// 	orders: 'list'
					// }),

					//或
					// ...Vuex.mapGetters({
					// 	products: 'product/list'
					// }),
					// ...Vuex.mapGetters({
					// 	orders: 'order/list'
					// }),

					//或
					...Vuex.mapGetters({
						products: 'product/list',
						orders: 'order/list'
					}),

					// store 挂载与否都能使用
					// products(){
					// 	return store.getters['product/list']
					// },
					// orders(){
					// 	return store.getters['order/list']
					// },

					// store 挂载了才能使用
					// products(){
					// 	return this.$store.getters['product/list']
					// },
					// orders(){
					// 	return this.$store.getters['order/list']
					// }

				},
				mounted() {
					// store 挂载了才能使用
					// this.$store.dispatch('product/queryList'); // 调用 product模块的 getList action
					// this.$store.commit('order/setList'); // 调用order模块的 setList mutation

					// store 挂载与否都能使用
					store.dispatch('product/queryList'); // 调用 product模块的 getList action
					store.commit('order/setList'); // 调用order模块的 setList mutation
					// store.commit('setList'); //  因为有命名空间，无法识别
				}
			});
		</script>
	</body>
</html>
