<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
		<style>
			/* * {
				margin: 0px;
				padding: 0px;
			} */

			div {
				width: 100px;
				height: 100px;
				margin: 20px 0px;
			}

			.pink {
				background-color: pink;
			}

			.skyblue {
				background-color: skyblue;
			}

			.gold {
				background-color: gold;
			}
		</style>
	</head>

	<body>
		<div class="app">
			<div class="pink" v-if="show == 'pink'">1</div>
			<div class="skyblue" v-if="show == 'skyblue'">2</div>
			<div class="gold" v-if="show == 'gold'">3</div>
			

			<div class="pink" v-if="show == 'pink'">4</div>
			<!-- v-if v-else-if v-else 之间不要夹杂其它的内容,如果夹杂了,就失效,同时报警告 -->
			<!-- <p></p> -->
			<div class="skyblue" v-else-if="show == 'skyblue'">5</div>
			<div class="gold" v-else>6</div>
		</div>

		<script>
			let vm = new Vue({
				el: ".app",
				data() {
					return {
						show: "skyblue"
					}
				},
			});
		</script>
	</body>

</html>
