<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
		<style>
		</style>
	</head>

	<body>
		<div class="app">
			<!-- <div v-if="number === 1">
				<div>haha</div>
				<div>haha</div>
				<div>haha</div>
				<div>haha</div>
			</div>
			<div v-if="number === 2">
				<div>xixi</div>
				<div>xixi</div>
				<div>xixi</div>
				<div>xixi</div>
			</div>
			<div v-if="number === 3">
				<div>hehe</div>
				<div>hehe</div>
				<div>hehe</div>
				<div>hehe</div>
			</div> -->

			<!-- template 也叫幽灵标签 -->
			<template v-if="number === 1">
				<div>haha</div>
				<div>haha</div>
				<div>haha</div>
				<div>haha</div>
			</template>
			<template v-if="number === 2">
				<div>xixi</div>
				<div>xixi</div>
				<div>xixi</div>
				<div>xixi</div>
			</template>
			<template v-if="number === 3">
				<div>hehe</div>
				<div>hehe</div>
				<div>hehe</div>
				<div>hehe</div>
			</template>
		</div>

		<script>
			let vm = new Vue({
				el: ".app",
				data() {
					return {
						number: 3
					}
				},
			});
		</script>
	</body>

</html>
