<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
	</head>

	<body>
		<div class="app">
			<!-- 不借助v-model,也可以实现数据的双向绑定 -->
			<input type="text" :value="name" @input="inputChange">

			<!-- 在模板中使用数据和设置数据,都不需要加this  -->
			<!-- 如果监听器中只有一行代码,直接可以把监听器写在模板中 -->
			<input type="text" :value="name" @input="name=$event.target.value">

			<!-- v-model 就是一个语法糖:  :value+@input -->
			<input type="text" v-model="name">
			<hr>

			<!-- 模拟登录 -->
			<label for="account">
				账号: <input type="text" v-model="account">
			</label>
			<label for="account">
				密码: <input type="text" v-model="pwd">
			</label>
			<button @click="loginClick">登录</button>
		</div>

		<script>
			let vm = new Vue({
				el: ".app",
				data() {
					return {
						name: "aaa",
						account: "",
						pwd: ""
					}
				},
				methods: {
					inputChange(e) {
						this.name = e.target.value
					},

					loginClick() {
						console.log("用户名:", this.account);
						console.log("密码:", this.pwd);
						// 利用axios,发请求
						// ...
					}
				}
			});
		</script>
	</body>

</html>
