<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
	</head>

	<body>
		<div class="app">
			<h1>{{name}}</h1>
			<select name="" id="" v-model="fruit">
				<option value="apple">苹果</option>
				<option value="orange">橘子</option>
				<option value="banana">香蕉</option>
			</select>
			<h2>单选：{{fruit}}</h2>

			<hr>

			<!-- multiple表示多选 -->
			<!-- 按ctrl 就可以多选 -->
			<!-- size 表示在可视区中显示几个选项 -->
			<select multiple size="3" v-model="fruits">
				<option value="apple">苹果</option>
				<option value="orange">橘子</option>
				<option value="banana">香蕉</option>
				<option value="pear">梨</option>
				<option value="peach">桃子</option>
			</select>
			<h2>多选：{{fruits}}</h2>
		</div>

		<script>
			let vm = new Vue({
				el: ".app",
				data() {
					return {
						name: "aaa",
						fruit: "banana",
						fruits: []
					}
				}
			});
		</script>
	</body>

</html>
