<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
	</head>

	<body>
		<div class="app">
			<ul>
				<h3>v-for遍历数字</h3>
				<li v-for="(num,index) in 5">
					{{num}} ---- {{index}}
				</li>

				<hr>

				<h3>v-for遍历字符串</h3>
				<li v-for="(str,index) in 'i love you'">
					{{str}} ---- {{index}}
				</li>
			</ul>
		</div>

		<script>
			let vm = new Vue({
				el: ".app",
				data() {
					return {
						
					}
				}
			});
		</script>
	</body>

</html>
