<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
	</head>

	<body>
		<div class="app">
			<div v-for="(item,index) in arr">
				<input type="checkbox" v-model="checkArr" :value="item">
				<span>{{item}}</span>
			</div>
			<hr>
			<ul>
				<li v-for="(item,index) in checkArr">{{item}}</li>
			</ul>
		</div>

		<script>
			let vm = new Vue({
				el: ".app",
				data() {
					return {
						arr: ["剧情", "喜剧", "音乐", "冒险", "NBA", "军事", "娱乐", "码路"],
						checkArr: []
					}
				}
			});
		</script>
	</body>

</html>
