<!DOCTYPE html>
<html lang="en">

	<head>
		<meta charset="UTF-8">
		<title>Document</title>
		<script src="../lib/vue2.7.8.js"></script>
	</head>

	<body>
		<div id="app">
			<div>
				<span>姓名:</span>
				<input type="text" v-model.trim="newPerson.name" />
			</div>
			<div>
				<span>年龄:</span>
				<input type="number" v-model.trim="newPerson.age" />
			</div>
			<div>
				<span>性别:</span>
				<select v-model.trim="newPerson.sex">
					<option value="男">男</option>
					<option value="女">女</option>
				</select>
			</div>
			
			<div>
				<button @click="addOrEdit">添加/编辑</button>
			</div>
			<hr>
			<div>
				<table border="1" cellpadding="10" cellspacing="0" v-if="dataArr.length>0">
					<tr>
						<th>序号</th>
						<th>姓名</th>
						<th>年龄</th>
						<th>性别</th>
						<th>操作</th>
					</tr>
					<tr v-for="(item,index) in dataArr">
						<td>{{index+1}}</td>
						<td>{{item.name}}</td>
						<td>{{item.age}}</td>
						<td>{{item.sex}}</td>
						<td>
							<button @click="del(index)">删除</button>
							<button @click="edit(index)">编辑</button>
						</td>
					</tr>
				</table>
				<div v-else>
					<h3>暂无数据~</h3>
				</div>
			</div>
		</div>

		<script>
			let vm = new Vue({
				el: "#app",
				data() {
					return {
						editIndex: null, // 是否处于编辑状态
						newPerson: {
							name: "",
							age: 0,
							sex: "男"
						},
						dataArr: [{
								name: "码路",
								age: 19,
								sex: "男",
							},
							{
								name: "旺财",
								age: 21,
								sex: "男",
							},
						],
					}
				},
				methods: {
					// 删除
					del(index) {
						// 调用数组的7个API，也会引起模板重新渲染
						// 为什么？ splice是Vue内部重写后的splice
						// 重写后的splice，又调用了原生的splice
						this.dataArr.splice(index, 1)
					},
					// 添加或编辑
					addOrEdit() {
						let newObj = {...this.newPerson}
						if (this.editIndex !== null) {
							// 说明处于编辑状态
							this.$set(this.dataArr, this.editIndex, newObj);
							this.editIndex = null;
						} else {
							// 说明处于添加状态
							this.dataArr.push(newObj)
						}
						this.newPerson = {
							name: "",
							age: 0,
							sex: "男"
						}
					},
					// 点击编辑，实现回显
					edit(index) {
						// editObj就是要编辑的数据
						let editObj = this.dataArr[index];
						this.newPerson = {...editObj};
						this.editIndex = index;
					}
				}
			});
		</script>
	</body>

</html>
